body {
	margin: 0%;
	background-color: #F6F6F6;
	width: 100%;
}

.textminingform {
	width: 100%;
}

#textAnalysisTab {
	
}

.textAnalysisTextArea {
	resize: none;
	margin: 3% 23% 0%;
}

.submit_button {
	display: inline-block;
	margin: 0% 3%;
}

.reset_button {
	display: inline-block;
	margin: 0% 3%;
}

.oneLineButtons {
	padding: 1% 44%;
}

#errors {
	
}

table {
	
}

#resultPanel {
	padding: 0% 2%;
}

#resultPanelRowOne div {
	float: left;
}

#numberOfTableDiv {
	
}

#allWordCountDiv {
	width: 100%;
	overflow: hidden;
}

#wordCountTableDiv, #customWordCountDivOne, #customWordCountDivTwo,
	#customWordCountDivThree, #customWordCountDivFour,
	#customWordCountDivFive {
	float: left;
	margin: 1%;
}

#wordCountTableDiv {
	display: inline-block;
}

#customWordCountDivOne {
	
}

#customWordCountDivTwo {
	
}

#customWordCountDivThree {
	
}

#customWordCountDivFour {
	
}

#customWordCountDivFive {
	
}

#allPosDiv {
	width: 100%;
	overflow: hidden;
}

#posCountTableDiv, #posListTableDiv {
	float: left;
	margin: 1%;
}

.numberOfTable {
	border: 1px solid black;
	margin: auto;
}

.wordCountTable {
	margin: auto;
}

.posListTable {
	margin: auto;
}

#twoTextArea {
	width: 100%;
	overflow: hidden;
	display: flex;
}

.compareformTextArea1, .compareformTextArea2 {
	float: left;
	margin: 1%;
	width: 40%;
}

.compareformTextArea1 {
	resize: none;
	margin: auto;
}

.compareformTextArea2 {
	resize: none;
	margin: auto;
}

.compareTextResult {
	overflow: hidden;
}

#dictionaryOne, #dictionaryTwo, #commonDictionary {
	float: left;
	margin: 1%;
}

#dictionaryOne {
	display: inline-block;
}

#dictionaryTwo {
	
}

#commonDictionary {
	
}